.ver-entrada{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    place-self: center;
    background-color: #D9D9D9;
    height: 125px;
    padding: 20px;
    box-sizing: border-box;
}

.left-ver-entrada{
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: none;
}

.right-ver-entrada{
    width: 80px;
    background-color: transparent;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: self-end;
    border: none;
    gap: 0;
}

.botones-ver-entrada{
    height: 24px;
    width: 120px;
    font-size: 20px;
    border: 0;
    padding: 0;
}
.botones-ver-entrada, .contador{
    background-color:  #00AEEF;
}

.botones-ver-entrada:hover{
    cursor: pointer;
    background-color:  #007F9E;
}

.izquierda-boton, .izquierda-boton:hover{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.derecha-boton, .derecha-boton:hover{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.contador{
    font-size: 20px;
    width: 100%;
    text-align: center;
}

.errores-left{
    display: flex;
    flex-direction: column;
}

.errores-left p{
    color: red;
}