div {
  
}

.eventos{
    width: 95%;
}
span{
    display: flex;
    align-items: center;
}
.spanGet{
    display: flex;
    flex-direction: row;
}
.grid-container-eventos{
    display: grid;
    grid-template-columns: repeat(3, minmax(250px, 1fr));
    justify-items: center;
    gap: 20px;
    margin: 0 64px 0 64px;
}
@media (width >=1100px) {
    .grid-container-eventos{
        grid-template-columns: repeat(4, minmax(250px, 1fr));
        align-self: center;
        place-self: center;
        justify-self: center;
    }
}