main{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

body{
  background-color: white;
}

#root{
  padding: 0;
  background-color: white;
}

main div{
  
  

}

header{
  height: 88px;
  background-color: #374151;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

h1{
  margin: 0;
}

a{
  background-color: #4F5F77;
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  text-decoration: none;
}

a:hover{
  background-color: #616975;
}