@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Roboto:wght@400&display=swap');

body .chakra-dialog__positioner,
body .chakra-dialog__backdrop {
  pointer-events: none !important;
}

body .chakra-dialog__content {
  pointer-events: auto !important;
}



body {
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
  color: black;
}


*{
  box-sizing: content-box;
}
body{
  width: 100wh;
  height: 100vh;
  margin: 0;
}